<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calendarServiceImpl" class="com.home.service.CalendarServiceImpl">
        <constructor-arg name="calendarDataStore" ref="calendarDataStore"/>
    </bean>

    <bean id="calendarDataStore" class="com.home.datastore.CalendarDataStoreImpl"/>

</beans>